:host {
  color: white;
  margin: 24px;
  display: flex;
  flex-direction: column;

  .error-card {
    background-color: #5c2121;
  }

  .error-message {
    color: #ff8a8a;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .updating-message {
    color: #8ac4ff;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .ams-container {
    display: flex;
    gap: 16px;
    padding: 24px;

    .ams-card {
      color: white;
      background-color: gray;

      .ams-card-content {
        display: flex;
        gap: 16px;
        padding: 16px;
      }
    }
  }

  mat-card + mat-card {
    margin-top: 16px;
  }

  @media (width <= 750px) {
    .ams-container {
      flex-direction: column;
      gap: 16px;
    }
  }
}
